body {
    font-family: sans-serif;
    background-color: white;
    color: #40111F;
}

div[class="reserveer"] > span{
    font-weight: bold;
}

nav ul {
    padding: 0.4em 0;
    background-color: white;
}

nav li {
    display: inline;
    background-color: white;
}

nav li a {
    vertical-align: middle;
    background-color: white;
    margin-right: 1em;
}

nav li a:hover {
    color: lightblue;
}

label {
    display: block;
    margin-top: 1em;
}

input, button {
    display: block;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

table{
    background-color: transparent;
}

thead {
    background-color: #fde45e;
}

.rechtsaligneren {
    text-align: right;
}

tbody > tr:nth-child(even) {
    background-color: #e3e2d2;
}

tbody > tr:nth-child(odd) {
    background-color: #f8f2b1;
}

button > a{
    text-decoration: none;
    color: black;
}

.foutmelding{
    font-weight: bold;
    color: red;
}
