<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Cultuurhuis')"></head>
<body>
<nav th:replace="fragments::menu"></nav>

<h1>Mandje
    <img src="images/mandje.png" th:src="@{/images/mandje.png}" alt="culthuis" >
</h1>

<div th:if="${mandjeform}">
    <form method="post" th:action="@{/mandje}">
        <table>
            <thead>
                <tr style="background-color: moccasin">
                    <th>Datum</th>
                    <th>Titel</th>
                    <th>Uitvoerders</th>
                    <th>Prijs</th>
                    <th>Plaatsen</th>
                    <th><button>Verwijderen</button></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lijn:${mandjeform.getReserveerlijnen()}" th:object="${lijn.voorstelling}">
                    <td th:text="*{datum}"></td>
                    <td th:text="*{titel}"></td>
                    <td th:text="*{uitvoerders}"></td>
                    <td class="prijs" th:text="*{{prijs}}"></td>
                    <td th:text="${lijn.tePlaatsen}"></td>
                    <td><input type="checkbox" name="ids" th:value="${lijn.voorstelling.id}"></td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="totaal">
        <span>Te betalen: </span>
        <span th:text="${mandjeform.totaal}"></span>
    </div>
</div>
<div th:if="not ${mandjeform}">
    <h2>Mandje is leeg</h2>
</div>
</body>
</html>