<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Cultuurhuis')"></head>
<body>
<nav th:replace="fragments::menu"></nav>

<h1>Overzicht
    <img src="images/bevestig.png" th:src="@{/images/bevestig.png}" alt="culthuis" >
</h1>

<div th:if="${geluktetxn}">
    <h2>Gelukte reservaties</h2>
    <table>
        <thead>
        <tr style="background-color: moccasin">
            <th>Datum</th>
            <th>Titel</th>
            <th>Uitvoerders</th>
            <th>Prijs</th>
            <th>Plaatsen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lijn:${geluktetxn}" th:object="${lijn}">
            <td th:text="*{datum}"></td>
            <td th:text="*{titel}"></td>
            <td th:text="*{uitvoerders}"></td>
            <td class="prijs" th:text="*{{prijs}}"></td>
            <td th:text="${lijn.tePlaatsen}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${misluktetxn}">
    <h2>Mislukte reservaties</h2>
    <table>
        <thead>
        <tr style="background-color: moccasin">
            <th>Datum</th>
            <th>Titel</th>
            <th>Uitvoerders</th>
            <th>Prijs</th>
            <th>Plaatsen</th>
            <th>Vrije plaatsen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lijn:${misluktetxn}" th:object="${lijn.voorstelling}">
            <td th:text="*{datum}"></td>
            <td th:text="*{titel}"></td>
            <td th:text="*{uitvoerders}"></td>
            <td class="prijs" th:text="*{{prijs}}"></td>
            <td th:text="${lijn.tePlaatsen}"></td>
            <td th:text="*{vrijeplaatsen}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>