<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Cultuurhuis')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<div class="reserveer" th:object="${voorstelling}">
    <h1 th:text="|*{titel} - *{uitvoerders}|">
        <img src="images/reserveren.png" th:src="@{/images/reserveren.png}" alt="culthuis" >
    </h1>
    <label>Voorstelling</label>
    <span th:text="*{titel}"></span>
    <label>Uitvoerders</label>
    <span th:text="*{uitvoerders}"></span>
    <label>Datum</label>
    <span th:text="*{{datum}}"></span>
    <label>Prijs</label>
    <span th:text="|€ *{{prijs}}|"></span>
    <label>Vrije plaatsen</label>
    <span th:text="*{vrijeplaatsen}"></span>
    <br>

    <form method="get" th:object="${aantalplaatsen}"
          th:action="@{/mandje/{id} (id=${voorstelling.id})}">
        <label>Plaatsen
            <input th:field="*{aantalPlaatsen}" type="number" autofocus required min="1" th:max="${voorstelling.vrijeplaatsen}">
        </label>
        <span th:errors="*{aantalPlaatsen}"></span>
        <button>Reserveren</button>
    </form>

</div>

</body>
</html>